/* universal styling */

* {
    box-sizing: border-box;
    --white: white;
    --primary-black: primary-black;
    --secondary-black: #2b2b2b;
    --primary-green: #00d5a6;
    --secondary-green: #00e3aa;
    --red: #ff0161;
    --primary-grey: #b9bdc3;
    --secondary-grey: #282b31;
    --light-primary-grey: #fbfafc;
    --dark-primary-grey-blue: #33325f;
    margin: 0;
    padding: 0;
}



/* Header part start here */

/* clear fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* clear fix ends */


/* NAVIGATION BAR styling start here */
header {
    position: absolute;
    right: 0;
    left: 0;
    top: 10%;
    bottom: 0;
    margin: 0 auto;
    width: 1000px;
    z-index: 1;
}

.primary-navigation-logo {
    float: left;
    width: 54px;
    height: 28px;
    font-family: 'Source Sans Pro', 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: var(--white);
}

.primary-navigation-links {
    float: right;
    list-style-type: none;
    transform: translateX(40px)
}

.primary-link {
    display: inline-block;
    margin: 0 50px 0 0;
    font-family: 'Source Sans Pro', 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
}

/* NAVIGATION BAR styling end here */




/* HEADER BANNER styling start here */

.header-banner {
    height: 100vh;
    background-image: url("https://dl.dropboxusercontent.com/s/qnj7dptroei934s/WebpageDesign1Header.jpg?dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: grayscale(20%) saturate(1.1);
    text-align: center;
    color: var(--white);
}

.header-description {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-primary-title {
    padding: 0;
    text-shadow: 0 6px 11px rgba(0, 0, 0, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    word-spacing: 10px;
    color: var(--white);
}

.header-secondary-title {
    padding: 0;
    text-shadow: 0 6px 11px rgba(0, 0, 0, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: var(--white);
    margin: 5px 0 30px 0;
}

.btn {
    width: 202px;
    height: 46px;
    padding: 13px 55px 13px 56px;
    border-radius: 3px;
    text-decoration: none;
}

.btn-green {
    background-color: var(--primary-green);
    box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 4px;
    color: var(--white)
}

/* HEADER BANNER styling end here */


/* Header part end here */





/* container styling */
.container {
    max-width: 1000px;
    margin: 0 auto;
}


.bigger-container {
    max-width: 1100px;
    margin: 0 auto 0 175px;
}


/* Common stylings starts here */

/* all three containers are inline-block*/



/* all three containers have same styling for title*/
.first--container--title,
.second--container--title,
.third--container--title {
    margin: 0 0 5px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    line-height: 1.59;
    color: var(--dark-primary-grey-blue);
    text-transform: uppercase;
}



/* All three containers paragraph have same styling */
.first--container--paragraph,
.second--container--paragraph,
.third--container--paragraph {
    width: 475px;
    height: 140px;
    margin: 0 0 5px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 1.59;
    color: var(--secondary-black);

}



/* Common stylings end here */



/* first container stylings */
.first--container--description {
    float: left;
    margin: 110px 0 110px 0;
}


.first--container--link {
    width: 70px;
    height: 35px;
    margin: 0 7px 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.94;
    color: var(--red);
}


.first--container--image {
    float: right;
    margin: 110px 0 110px 0;
}


.first--container--image>img {
    width: 415px;
    height: 176px;
}



/* second container */
.second--container--description {
    float: right;
    margin: 0 0 170px 0;
    padding: 180px 0 0 0;
    height: 524px;
}

.second--container--image {
    float: left;
    margin: 0 0 110px 0;
}

.second--container--paragraph {
    height: 90px;
}


.second--container--sub-paragraph {
    float: left;
    width: 350px;
    font-family: 'Source Sans Pro', 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-black);
    word-spacing: 1px;
    margin: 30px 0 0 0;
}

.second--container--red--text {
    font-weight: bold;
    color: var(--red)
}


.second--container--image>img {
    width: 460px;
    height: 524px;
}




/* third container */
.third--container--description {
    float: left;
    margin: 110px 0 210px 0;
}

.third--container--checklist {
    max-width: 300px
}

.third--container--paragraph {
    height: 70px;
}

.third--container--list1,
.third--container--list2 {
    list-style-type: none;
    padding: 0;
    margin: 23px 10px 0 0;
    font-family: 'Source Sans Pro', 'Source Sans Pro', sans-serif;
}

.third--container--list1 {
    float: left;
}

.third--container--list2 {
    float: right;
}

.third--container--list1-element>i,
.third--container--list2-element>i {
    background-color: var(--primary-green);
    padding: 7px;
    border-radius: 50%;
    margin: 0 8px 8px 0;
    color: var(--white);
}


.third--container--image {
    float: right;
    margin: 110px 0 110px 0;
}


.third--container--image>img {
    width: 590px;
    height: 420px;
    transform: translateY(-50px)
}



/* footer */



.footer {
    background-color: var(--light-primary-grey);
    position: relative;
    height: 100px;
}

.footer--logo,
.footer--buttons,
.footer--social--icons,
.footer--copyright {
    position: absolute;
}
.footer--logo{
    top: 30px;
    left: 150px;
}
.footer--buttons{
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.footer--social--icons{
    top: 30px;
    right:120px;
}

.footer--twitter--icon,.footer--facebook--icon,.footer--instagram--icon{
    display: inline-block;
    color: var(--black);
    padding: 4px;
    border-radius: 6px;
    border: solid 1px #e7e8ea;
    background-color: var(--white);
    text-align: center;
}
.footer--twitter--icon, .footer--facebook--icon,.footer--instagram--icon > i {
    color: var(--primary-grey);
}



.footer--logo > p {
    font-family: 'Source Sans Pro', 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary-grey);
    margin: 0;
}


.footer--buttons > img {
    margin: 0;
    width: 140px;
    object-fit: contain;
    background-color: var(--light-primary-grey);
    border: none;
}
.footer--copyright {
    top: 150px;
    padding:0 0 40px 0;
    height: 14px;
    font-family: 'Source Sans Pro', 'Source Sans Pro', sans-serif;
    font-size: 11px;
    color: #999ea8;
}
/* footer styling ends here */